<div class="row">
  <div class="col-md-4 col-md-offset-4 well well-sm">
    <legend><a href="#"><i class="fa fa-globe"></i></a> Sign up here with!</legend>
    <div class="social-buttons">
      <center>
        <%= link_to raw('<i class="fa fa-facebook"></i> Facebook'), user_omniauth_authorize_url(:facebook, subdomain: false), class: "btn btn-facebook author_popup" %>
        <%= link_to raw('<i class="fa fa-twitter"></i> Twitter'), user_omniauth_authorize_path(:twitter), class: "btn btn-twitter author_popup" %>
        <%= link_to raw('<i class="fa fa-google "></i> Google'), user_omniauth_authorize_url(:google_oauth2, subdomain: false), class: "btn btn-google author_popup" %>
      </center>
    </div>    
    <center class="or">OR</center>    
    <% resource.build_address if resource.address.nil? %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "shared/error_message", object: f.object %>
      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: "form-control", placeholder: "*Full Name", required: true %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, class: "form-control", placeholder: "*Your Email", required: true %>
      </div>

      <div class="form-group">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "*New Password" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "*Confirm Password" %>
      </div>

      <div class="form-group">
        <%= f.label :birthday, "Birth Day" %>
        <div class="form-inline">
          <%= f.date_select :dob, {start_year: 5.year.ago.year, end_year: 1920,
            order: [:day, :month, :year], validate: false,
            prompt: { day: "Day", month: "Month", year: "Year" }},
            {class: "form-control selectwidthauto"} %>
        </div>
      </div>
      
      <div class="form-group">
          <%= f.label :gender, class: "radio-inline", value: :male do %>
            <%= f.radio_button :gender, :male %>Male
          <% end%>
          <%= f.label :gender, class: "radio-inline", value: :female do %>
            <%= f.radio_button :gender, :female %>Female
          <% end%>
      </div>

      <%= f.fields_for :address do |builder| %>
        <%= render "addresses/form", f: builder %>
      <% end %>
      
      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
    <center>
      <%= link_to "Already have an account?", new_user_session_path %>
    </center>
  </div>
</div>
