<div class="form-area col-sm-6 col-sm-offset-4">
  <h2>Sign up</h2>
  <% resource.build_address if resource.address.nil? %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), validate: true) do |f| %>
    <%#= devise_error_messages! %>
    <%= render "shared/error_message", object: f.object %>

    <div class="form-group">
      <%= f.label :name %>
      <div class="form-inline">
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <div class="form-inline">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <div class="form-inline">
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %>
      <div class="form-inline">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    </div>

    <div class="input-group">
      <%= f.label :birthday %>
      <div class="form-inline">
        <%= f.date_select :dob, {start_year: 5.year.ago.year, end_year: 1920,
       order: [:day, :month, :year], validate: false}, {class: "form-control selectwidthauto"} %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :Gender %>
      <div class="form-inline">
        <%= f.select :gender, [ ['Female',:female], ['Male', :male] ], {}, {class: "form-control selectwidthauto"} %>
      </div>
    </div>    
    
    <%= f.fields_for :address do |builder| %>
      <div class="form-group">
        <%= builder.label :phone %>
        <div class="form-inline">
          <%= builder.text_field :phone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :no %>
        <div class="form-inline">
          <%= builder.text_field :house_no, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :st %>
        <div class="form-inline">
          <%= builder.text_field :street_no, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :village %>
        <div class="form-inline">
          <%= builder.text_field :village, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :commune, "Commune/Sangkat" %>
        <div class="form-inline">
          <%= builder.text_field :commune, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :district, "District/Khan" %>
        <div class="form-inline">
          <%= builder.text_field :district, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= builder.label :province, "Province/City" %>
        <div class="form-inline">
          <%= builder.select(:province_id,options_from_collection_for_select(Province.all, "id", "name",1),{},{class: "form-control selectwidthauto"}) %>
        </div>
      </div>
    <%end%>

    <div class="form-group">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
