<div class="row">
  <div class="col-sm-12">
    <%= render "store_logo" %>    
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-3">
    <%= @store.name %>
    <%= @store.sub_domains.count %>
    <% @store.sub_domains.each do |subdomain| %>
      <%= subdomain.name %>
    <% end %>
    <%= @store.address.house_no %>
    <%= @store.address.street_no %>
    <%= render "category" %>
  </div>
  <div class="col-md-9">
    <div class="col-sm-12">
      <center><h3>Items</h3></center>
    </div>
    <%= render "product" %>
  </div>
</div>
