<%= link_to "Go to my Tob", root_url(subdomain: @store.sub_domains.first.name) %>
<div class="row well">
  <div class="col-md-12 ">
    <center><h3><%= @store.name %><%= image_tag @store.icon , class:"img-rounded img-responsive" %></h3></center>
    <br/>    
    <ul class="well">      
      <% @store.sub_domains.each do |domain| %>
        <li>
          <%= link_to root_url(subdomain: @store.sub_domains.first.name) do %>
            <i class="fa fa-globe fa-2x"></i> http://www.<%= domain.name %>.mytob.com
          <% end %>
        </li>
      <% end %>      
      <br/>
      <%= link_to "Edit", admin_edit_stores_setting_path, class: "btn btn-primary", "data-no-turbolink" => true %>
      <%= link_to "Delete", "", class: "btn btn-danger" %>       
    </ul>    
  </div>    
</div>
