<tr>
  <td><%= store_logo.title %></td>
  <td><%= store_logo.description %></td>
  <td><%= store_logo.link %></td>
  <td><%= link_to "Detail", admin_store_logo_path(store_logo) %></td>
  <td><%= link_to "Edit", edit_admin_store_logo_path(store_logo) %>
      | <%= button_to "Delete", "#" %></td>
</tr>
