<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= render "layouts/shim" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>  
  <%= render "layouts/header" %>  
  <div id="application" class="container">
    <%= render "layouts/flash_message" %>
    <%= yield %>
  </div>
  
  <% if @store.nil? || (controller?("stores") && action?("new")) %>
    <%= render "layouts/footer" %>
  <% else %>
    <%= render "layouts/footer_blog" %>    
  <% end %>  
</body>
</html>
