<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title) %></title>
  <%= render "layouts/shim" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if params[:controller]=="stores" && params[:action]=="admin" %>
    <%= render "layouts/header" %>
  <% else %>
    <%#= render "layouts/header" %>
  <% end %>
  <div id="application" class="container">
    <%= render "layouts/flash_message" %>
    <%= yield %>
  </div>

  <% if params[:controller]=="stores" && params[:action]=="admin" %>
    <%= render "layouts/header" %>
  <% else %>
    <% if @store %>
      <%= render "layouts/footer_blog" %>
    <% else %>
      <%= render "layouts/footer" %>
    <% end %>
  <% end %>
</body>
</html>
